.review {
  background-image: url("https://image.shutterstock.com/image-photo/old-brick-black-color-wall-260nw-1605128917.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.review form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.review form input,
textarea {
  width: 50%;
  margin-bottom: 10px;
}
