.carousel-control-prev-icon {
  background: red;
  padding: 20px;
  color: #fff;
}

.carousel-control-next-icon {
  background: red;
  padding: 20px;
}

.carousel-item img {
  height: 70vh;
}

.carousel-caption h1 {
  font-weight: 800;
  font-size: 55px;
}

.carousel-caption p {
  font-weight: 300;
  font-size: 17px;
}
